In [1]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
i = 0
while i<11:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [3]:
for i in reversed(range(11)):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [4]:
i = 10
while i>=0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1
0

In [5]:
for i in range(7):
    for j in range(7):
        print("#","",end=" ")
    print()

#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #

In [6]:
for i in range(1,8):
    for k in range(1,8-i):
        print(' ',end='')
    for j in range(8-i,8):
        print('#',end=' ')
    print('')

      #
     # #
    # # #
   # # # #
  # # # # #
 # # # # # #
# # # # # # #

In [7]:
for i in range(0,11):
    for j in range(0,11):
        if i!=j:
            continue
        print(i,'*',j,'=',i*j)

0 * 0 = 0
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

In [8]:
a=['Python', 'Numpy','Pandas','Scikit', 'Pytorch']
for i in a:
    print(i)

Python
Numpy
Pandas
Scikit
Pytorch

In [9]:
for i in range(101):
    if i%2 !=0:
        continue
    print(i,end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [10]:
for i in range(101):
    if i%2 ==0:
        continue
    print(i,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [11]:
numbers = list(range(0,101))
sum = 0
for i in numbers:
    sum = sum+i
print("The sum of all numbers is", sum)

The sum of all numbers is 5050

In [12]:
sum=0
for i in range(2,101,2):
    sum=sum+i
print('The sum of all evens is',sum)

The sum of all evens is 2550

In [13]:
sum=0
for i in range(1,101,2):
    sum=sum+i
print('And the sum of all odds is',sum)

And the sum of all odds is 2500

In [15]:
fruit_list= ['banana', 'orange', 'mango', 'lemon']
for i in reversed(fruit_list):
    print(i)

lemon
mango
orange
banana